@charset "utf-8";
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}
$small-font-size: 0.75em;
$badges: (
  "starter": #e6efc2,
  "advanced": #fbe3e4,
  "intermediate": #fff6bf,
) !default;
html,
body {
    width: 100%;
    height: 100%;
}
body{
  font-family: 'Roboto Slab', serif;
  margin: 0 $base-spacing;
  padding: 0;
  @include font-smoothing(on);
}
@each $badge-type, $color in $badges {
  .badge-#{$badge-type} {
    background-color: $color;
    border-radius: $small-font-size * 5;
    color: darken($color, 60%);
    display: inline-block;
    font-size: $small-font-size;
    line-height: 1;
    padding: 0.4em 1.2em;
  }
}
.container {
  margin: 0 auto;

  width: 900px;
}
.result{
  @include grid-container;

  h2{

    @include grid-column(5);
  }
  .meta{

    @include grid-column(7);

  }
}


#splash{
  height: 100%;
  display: table;
  margin: 0 auto;
  header{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: $base-spacing;
    width: 500px;
    h1{
      font-size: 3em;
      font-weight: 300;
      padding: 0px;
      margin: 0px;
      color: #000;
    }
  }
  section{
    display: table-cell;
    vertical-align: middle;
    p{
      padding-top: $base-spacing;
    }
  }
}