@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:300,500');

$base-duration: 150ms;
$base-timing: ease;

$es-header: #F07E6B;
$es-anchor: #4A365F;
$es-purple: #594167;

$small-font-size: 0.75em;

$badges: (
"1": #e6efc2,
"9": #fbe3e4,
"5": #fff6bf,
"tag": #eee,
"disabled": #f2f5f5
) !default;

$fa-font-path: "../fonts";

@import "font-awesome";

@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.main {
  margin-bottom: 60px
}

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}

a {
  color: $es-anchor;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: tint($es-anchor, 25%);
  }
}

.icon > svg {
  display: inline-block;
  margin: 0px 5px 0px 0px;
}

svg{
  vertical-align: middle;
}

.icon {
  width: 1em;
  height: 1em;
}   

.filters {
  padding-bottom: 20px;
}

nav > ul {
  justify-content: center;
}

.page-link {
  color: $es-anchor;
  padding: 0.25rem 0.5rem;
}

.page-item.active .page-link {
  background-color: $es-header;
  border-color: $es-header;
}

.footer {
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: $es-purple;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALUlEQVQYV2P0Mov/z0AEYKRY4f///58zMjJKwiyj3ER0Z9PIRHSHYwst6lsNAMs/GrcD9Fh5AAAAAElFTkSuQmCC) repeat;

  padding-top: 15px;

  a {
    color: #fff;
    font-weight: 500;
  }
}

@each $badge-type, $color in $badges {
  .badge-#{$badge-type} {
    background-color: $color;
    border-radius: $small-font-size * 5;
    color: darken($color, 60%);
    display: inline-block;
    font-family: sans-serif;
    font-size: $small-font-size;
    line-height: 1;
    padding: 0.4em 1.2em;
  }
}

.jumbotron {
  margin-bottom: 0;
  background-color: #fff;
  padding: 1rem 0rem;

}

.jumbotron-heading {
  font-weight: 500;
  font-size: 4em;
  color: $es-purple;
  margin: 0rem 0rem 1rem 0rem;
}

.jumbotron .container {
  max-width: 40rem;
}
