<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Extracurricular</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300|Roboto:300,500">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div class="container main">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <span class="footer-text">&copy; 2017 <a href="https://github.com/elixirschool" target="_blank">Elixir School</a></span>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
