<div id="splash">
  <header>
    <h1>Extracurricular</h1>
  </header>
  <section>
    <p>A website and twitter bot intended to increase visibility to open source opportunities within the Elixir community.</p>
  </section>
</div>